.shop{
  width: 100%;
  margin-bottom: 1.08rem ;
  .first{
    width: 100%;
    height: 4.58rem;
    img{
      width: 100%;
      height: 4.58rem;
    }
  }
  .shop_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 3.73rem;
      height: 5.36rem;
      img{
        width: 3.73rem;
        height: 3.78rem;
      }
      .info{
        padding-top: .2rem ;
        p{
          padding-left: .2rem ;
        }
        .info_title{
          font-size: .28rem;
          color: rgba(0,0,0,.87);
        }
        .info_des{
          margin-top: .06rem;
          font-size: .22rem;
          line-height: .3rem;
          color: rgba(0,0,0,.54);
        }
        .info_price{
          font-size: .28rem;
          color: #ea625b;
          height: 1.5em;
          line-height: 1.5em;
          position: relative;
          display: inline-block;


        }
      }

    }
  }
}
